Сhapter4/Chapter4.Task1/obj/project.assets.json
Сhapter4/Chapter4.Task1/obj/Release/netcoreapp2.1/Chapter4.Task1.csproj.CoreCompileInputs.cache
Сhapter4/Chapter4.Task1/obj/Release/netcoreapp2.1/Chapter4.Task1.assets.cache
Сhapter4/Chapter4.Task1/obj/Release/netcoreapp2.1/Chapter4.Task1.AssemblyInfoInputs.cache
Сhapter4/Chapter4.Task1/obj/Release/netcoreapp2.1/Chapter4.Task1.AssemblyInfo.cs
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.pdb
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.dll
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.csprojAssemblyReference.cache
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.csproj.FileListAbsolute.txt
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.csproj.CoreCompileInputs.cache
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.assets.cache
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.AssemblyInfoInputs.cache
Сhapter4/Chapter4.Task1/obj/Debug/netcoreapp2.1/Chapter4.Task1.AssemblyInfo.cs
Сhapter4/Chapter4.Task1/obj/Chapter4.Task1.csproj.nuget.g.targets
Сhapter4/Chapter4.Task1/obj/Chapter4.Task1.csproj.nuget.g.props
Сhapter4/Chapter4.Task1/obj/Chapter4.Task1.csproj.nuget.dgspec.json
Сhapter4/Chapter4.Task1/obj/Chapter4.Task1.csproj.nuget.cache
Сhapter4/Chapter4.Task1/bin/Debug/netcoreapp2.1/Chapter4.Task1.runtimeconfig.json
Сhapter4/Chapter4.Task1/bin/Debug/netcoreapp2.1/Chapter4.Task1.runtimeconfig.dev.json
Сhapter4/Chapter4.Task1/bin/Debug/netcoreapp2.1/Chapter4.Task1.pdb
Сhapter4/Chapter4.Task1/bin/Debug/netcoreapp2.1/Chapter4.Task1.dll
Сhapter4/Chapter4.Task1/bin/Debug/netcoreapp2.1/Chapter4.Task1.deps.json
Сhapter4/.vs/Сhapter4/v16/.suo
.vs/slnx.sqlite
