*.suo
*.user
bin
obj
packages
.vs/slnx.sqlite
Сhapter4/.vs/Сhapter4/v16/Server/sqlite3/storage.ide
Сhapter4/.vs/Сhapter4/DesignTimeBuild/.dtbcache
*.ide-wal
*.ide-shm
*.dtbcache
*.storage.ide
*.dblock